AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializersBeforeComma: true
IndentWidth: 2
Language: Cpp
NamespaceIndentation: All
PointerBindsToType: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
Standard: Auto
TabWidth: 2
UseTab: Never